.vscode/
bin/
obj/
addons.make
audioOutputExample.code-workspace
audioOutputExample.png
config.make
Makefile

# Ignore everything
*

# But not this file (so the .gitignore itself stays tracked)
!.gitignore

# Allow the src folder and its contents
!src/
!src/**

!of_v0.12.1_vs_64_release/
!of_v0.12.1_vs_64_release/**